.select-wrapper input.select-dropdown {
    background-color: #f3f3f36b;
    border: none;
    border-bottom: 1px solid #000000;
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #5deddeba;
}
.navbar-size {
    width: 95%;
    margin: 0 auto;
}

.user-image-size {
    height: 56px;
    max-width: 4px 0;
}

.main-body {
    background-color: #f2848800;
    columns: rgba(255, 255, 255, 0);
    height: calc(100vh - 64px);
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}

.click-me-button {
    background-color: #1b6b67;
    margin-top: 50px;
}

.bg-img {
    background-image: url("../images/background-image.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.heading {
    -webkit-text-stroke: 1px hsla(0, 0%, 0%, 0.597);
}

